@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Roboto:wght@300;400&display=swap");

:root {
  --gold-color: #94a130;
  --red-brown: #321715;
}

* {
  box-sizing: border-box;
}

input.nav-toggle {
  position: absolute;
  top: -1000px;
}

.hamburger {
  width: 50%;
}

.nav-relative {
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: white;
}

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.logo__container {
  transform: translateX(10%);
}

header {
  margin: 0;
}

body {
  background-color: var(--red-brown);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1.8px;
}

body * {
  z-index: 1;
}

.h1 {
  color: var(--gold-color);
}

.nav-toggle-label {
  position: absolute;
  left: 5px;
  top: 8px;
  cursor: pointer;
  border: 0;
  width: 3em;
  height: 3em;
  background: var(--red-brown);
  padding: 0;
  display: flex;
  align-items: center;
}
main {
  width: 100%;
}

.nav__item {
  margin-bottom: 1em;
  margin-left: 1em;
}

.nav__item:hover {
  cursor: pointer;
  transform: scale(1.1);
}

nav a.nav__link {
  text-decoration: none;
  font-weight: 800;
  color: var(--gold-color);
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: center;
  list-style: none;
  z-index: 1001;
}

.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 5em;
  max-width: 850px;
  /* border: 1px solid white; */
}

.hero {
  background: #fff;
  padding: 16em 0;
  font-family: "Playfair Display", serif;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 6em;
  flex-direction: column;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 75px;
  left: 0;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1000;
  background-color: hsl(4, 40%, 14%, 0.9);
}

nav {
  position: absolute;
  text-align: center;
  top: 100%;
  left: 0;
  width: 100%;
  background: var(--red-brown);
  transform: scale(1, 0);
  z-index: 1000;
  transition: transform ease-in 0.5s;
  transform-origin: top;
}

.hero h1 {
  text-align: center;
  font-size: 36px;
  /* font-size: 60px; */
  margin-top: 0;
  width: 100%;
  padding-top: 0;
  margin-top: 0;
  /* margin: 0 100em; */
}

.hero p {
  font-size: 13px;
  /* font-size: 18px; */
  color: #000;
  font-weight: lighter;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}

.hero h1 {
  color: var(--gold-color);
}

.hero-btn {
  text-align: center;
  width: 10%;
  min-width: 220px;
  border-radius: 15px;
  padding: 1em;
  font-size: 20px;
  cursor: pointer;
  font-weight: 1000;
  text-decoration: none;
  background: #fff;
  color: var(--red-brown);
  outline: 4px solid var(--red-brown);
  border: 4px solid var(--red-brown);
  outline-offset: -5px;
  transition: outline-offset 250ms ease, outline-width 250ms ease;
  position: relative;
}

.hero-btn:hover,
.hero-btn:focus {
  outline-width: 8px;
  outline-offset: -8px;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
  padding: 0;
  order: -1;
  height: 100%;
  overflow: hidden;
  /* border: 1px solid white; */
}

.content h2 {
  font-family: "Playfair Display", serif;
  text-align: left;
  background-color: var(--red-brown);
  margin: 0;
  padding: 0;
  color: var(--gold-color);
}

.content p {
  font-weight: 400;
  margin: 25px 0;
  font-size: 1rem;
  margin-bottom: 3rem;
}

.img-container {
  display: flex;
  width: 100%;
  overflow: hidden;
  /* border: 1px solid white; */
}

.img-container img {
  align-self: flex-start;
  object-fit: cover;
  width: 100%;
  overflow: hidden;
}
p {
  color: #fff;
  margin: 10px;
}

.nav-toggle:checked ~ nav {
  transform: scale(1);
}

.nav-toggle:checked ~ nav a.nav__link {
  opacity: 1;
  transition: opacity 250ms ease-in-out 260ms;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  .logo__container {
    align-self: center;
    margin-left: 20px;
  }

  .navbar {
    display: flex;
    flex-direction: row;
  }

  nav {
    position: relative;
    transform: scale(1);
    flex-direction: row;
    min-height: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 10em;
    margin-top: 7px;
  }

  nav ul {
    display: flex;
    flex-direction: row;
  }

  nav a.nav__link {
    position: relative;
    opacity: 1;
  }

  nav li {
    margin-inline-end: 1.5em;
  }

  nav a:before {
    content: "";
    display: block;
    height: 5px;
    background: var(--gold-color);
    position: absolute;
    top: -0.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover:before {
    transform: scale(1, 1);
  }

  .content {
    order: 0;
    width: 45%;
  }

  .img-container {
    width: 45%;
  }
  .container {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10rem;
    align-items: flex-start;
  }
}
